{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid border border-primary" id="index-banner">
    <div class="row">
        <div class="col">This is the index banner that will be replaced with a large image
        </div>
    </div>
</div>

<div class="container-fluid border border-primary" id="index-body">
    <div class="row">
        <div class="col">This is the main container for the index page where the products will be displayed</div>
    </div>
</div>


{% endblock %}