{% extends "base.html" %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block page_header %}
{% endblock %}
{% block content %}


<div class="container-fluid previous-orders-container">
    <div class="row previous-orders-row">
        <div class="col previous-orders-col">
            <h2 class="bold">My Orders</h2>
        </div>
    </div>
    <div class="row previous-orders-row">
        <div class="col previous-orders-col">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>



    <div class="row previous-orders-row">
        <div class="col previous-orders-col">
            <p>
                <span>Date of order:</span>
                <span>{{order.date}}</span>
            </p>
            <p>
                <span>Order Number:</span>
                <span>{{order.order_number}}</span>
            </p>

            {% for item in order_line_items %}
            <p>
                <span>Product Name:</span>
                <span>{{item.product}}</span>
            </p>
            <p>
                <span>Product ID:</span>
                <span>{{item.product.product_id}}</span>
            </p>
            <p>
                <span>Quantity:</span>
                <span>{{item.quantity}}</span>
            </p>
            <p>
                <span>Total</span>
                <span>{{item.order_total}}</span>
            </p>
            {% endfor %}



            {% if reviews %}
                {% for review in reviews %}
                    {{ review.review_title }} <br>
                    {{ review.review_body }} <br>
                    {{ review.stars }}
                {% endfor %}
            {% else %}

            <form method="POST" action="{% url 'leave_review' order.order_number %}" title="{{ order.order_number }}">
                {% csrf_token %}
                <div class="row with-borders">
                    <div class="col with-borders">
                        <div class="rating-box">
                            <header>How was your experience?</header>
                            <div class="stars">
                                <input type="hidden" id="order_number" name="order_number"
                                    value="{{ order.order_number }}">
                                <input type="hidden" id="selected_rating" name="selected_rating">
                                <i class="fa-solid fa-star star_rating_1" name="star_rating_1"></i>
                                <i class="fa-solid fa-star star_rating_2" name="star_rating_2"></i>
                                <i class="fa-solid fa-star star_rating_3" name="star_rating_3"></i>
                                <i class="fa-solid fa-star star_rating_4" name="star_rating_4"></i>
                                <i class="fa-solid fa-star star_rating_5" name="star_rating_5"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row with-borders">
                    <div class="col with-borders">
                        <input type="text" class="leave_review_input" name="review_title" id="review_title"
                            placeholder="In a few words, how was your experience?" required>
                    </div>
                </div>
                <div class="row with-borders">
                    <div class="col with-borders">
                        <input type="textarea" class="leave_review_input" name="review_body" id="review_body"
                            placeholdeer="Tell us more" required>
                    </div>
                </div>
                <div class="row with-borders">
                    <div class="col with-borders">
                        <button type="submit" class="btn" id="leave_review_btn">Submit Review</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>









{% endblock %}

{% block postloadjs %}
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}