{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}
{% block page_header %}
{% endblock %}
{% block content %}
<!--Container to display previous orders-->
<div class="container-fluid card" id="previous-orders-container">
    <div class="row ">
        <div class="col div-header">
            <h2 class="heading">Order Summary</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="sub-heading">Date of order:</h3>
        </div>
        <div class="col">
            {{order.date}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="sub-heading">Order Number:</h3>
        </div>
        <div class="col">
            {{order.order_number}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            {% for i in order_line_items %}
            {{ i.product }}
            (x{{ i.quantity }})
            <br>
            <strong>£{{i.lineitem_total}}</strong>
            <br>
            <br>
            {% endfor %}
            <br>
            <strong>Total: £{{ order.order_total }}</strong>
        </div>
    </div>
</div>
<br>
<!--Container to display reviews-->
<div class="container-fluid card " id="reviews-container">
    {% if reviews %}
    {% for review in reviews %}
    <div class="row">
        <div class="col ">
            <h3 class="sub-heading">Stars you gave:</h3>
        </div>
        <div class="col">
            {% for i in star_range %}
            <i class="fa-solid fa-star review_stars"></i>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <h3 class="sub-heading">Title:</h3>
        </div>
        <div class="col">
            {{ review.review_title }}
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <h3 class="sub-heading">Body:</h3>
        </div>
        <div class="col">
            {{ review.review_body }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i>You reviewed this order on {{review.date}}</i>
        </div>
    </div>
    <div class="row">
        <div class="col align-center">
            <form method="POST" action="{% url 'render_profile' %}">
                {% csrf_token %}
                <button type="submit" class="btn orderBtn" id="leave-review">Back to orders</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<!--Container to display leave reviews option if no reviews found-->
{% if not reviews %}
<div class="container-fluid card" id="leave-review-container">
    <form method="POST" action="{% url 'leave_review' order.order_number %}" title="{{ order.order_number }}">
        {% csrf_token %}
        <div class="row ">
            <div class="col ">
                <div class="rating-box">
                    <header>How was your experience?</header>
                    <div class="stars">
                        <input type="hidden" id="order_number" name="order_number" value="{{ order.order_number }}">
                        <input type="hidden" id="selected_rating" name="selected_rating">
                        <i class="fa-solid fa-star star_rating_1"  id="star_rating_1"></i>
                        <i class="fa-solid fa-star star_rating_2" id="star_rating_2"></i>
                        <i class="fa-solid fa-star star_rating_3"  id="star_rating_3"></i>
                        <i class="fa-solid fa-star star_rating_4"  id="star_rating_4"></i>
                        <i class="fa-solid fa-star star_rating_5"  id="star_rating_5"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col ">
                <input type="text" class="leave-review-title" name="review_title" id="review_title"
                    placeholder="In a few words, how was your experience?" required>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col ">
                <input type="text" class="leave-review-body" name="review_body" id="review_body"
                    required>
            </div>
        </div>
        <div class="row ">
            <div class="col align-center">
                <button type="submit" class="btn orderBtn" id="leave-review">Submit Review</button>
            </div>
        </div>
    </form>
    <form method="POST" action="{% url 'render_profile'%}">
        {% csrf_token %}
        <div class="row ">
            <div class="col align-center">
                <button type="submit" class="btn orderBtn">Back to orders</button>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
{% block postloadjs %}
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}