{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}
{% block page_header %}
{% endblock %}
{% block content %}
<!--Update profile information-->
<div class="container-fluid" id="parent-container">
    <div class="row">
        <div class="col  xs-12 sm-12 md-12 lg-12 xl-12">
            <div class="container card " id="profile-container">
                <div class="row">
                    <div class="col">
                        <form class="mt-3" action="{% url 'update_profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn orderBtn">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <!--Display previous orders-->
        <div class="col  xs-12 sm-12 md-12 lg-12 xl-12">
            <div class="container-fluid card " id="previous-orders-preview-container">
                <div class="row previous-orders-row">
                    <div class="col lign-center-horizontal">
                        <h2 class="bold">My Orders</h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col col-xsm-12 col-sm-12 col-md-4 col-lg-4 col-xl-6 align-center-horizontal md-padding">
                        <strong>Date of order</strong>
                    </div>
                    <div
                        class="col col-xsm-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 align-center-horizontal md-padding ">
                        <strong>Order Number</strong>
                    </div>
                </div>
                {% if orders %}
                {% for order in orders %}
                <div class="row">
                    <div class="col col-xsm-12 col-sm-12 col-md-4 col-lg-4 col-xl-6">{{order.date}}
                    </div>
                    <div class="col col-xsm-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 ">
                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                            {{ order.order_number|truncatechars:10}}
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                    <div class="col col-xsm-12 col-sm-12 col-md-4 col-lg-4 col-xl-12">
                        You have no previous orders
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}