{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="index-banner">
    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-left g-0">
                    <div class=" col-index-background-left g-0" aria-hidden="true"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-right g-0">
                    <div class="col-index-background-right g-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0 align-center ">
                            <h1 class="index-header">Hungry?</h2>
                                <h2 class="index-header">We've got you covered</h3>
                                    <p class="index-header lg-padding-not-left">
                                        <button type="button" class="btn btn-light">Shop Now</button>
                                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid align-center with-borders" id="order-details-container">
    <div class="row  product-row align-center ">
        <div class="col  align-center product-col">
            <div class="card ">
                <div class="card-body ">
                    <div class="row with-borders align-center">
                        <div class="col with-borders align-center">
                            <h5 class="card-title">Order Details</h5>
                        </div>
                    </div>
                   

                    <div class="row with-borders align-center">
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-9 col-xl-9">
                            {{ order_form.customer_name | as_crispy_field }} 
                        </div>
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-3 col-xl-3">£{{total_price}}</div>
                    </div> 
                    
                    <a href="#" class="btn btn-priindex">Go to checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}