{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">

{% endblock %}

{% block content %}



<!-- Display a payment form -->
<form id="payment-form">
    <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
    </div>
    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
    </button>
    <div id="payment-message" class="hidden"></div>
</form>




                           
                            
                            

                       

                            

















{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}


<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
<!--
    This will likely need to be changed to {% static 'products/js/script.js' %}  
-->
{% endblock %}






