{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="index-banner">
    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-left g-0">
                    <div class=" col-index-background-left g-0" aria-hidden="true"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-right g-0">
                    <div class="col-index-background-right g-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0 align-center ">
                            <h1 class="index-header">Hungry?</h2>
                                <h2 class="index-header">We've got you covered</h3>
                                    <p class="index-header lg-padding-not-left">
                                        <button type="button" class="btn btn-light">Shop Now</button>
                                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid align-center with-borders" id="order-details-container">
    <div class="row  product-row align-center ">
        <div class="col  align-center product-col">
            <div class="card ">
                <div class="card-body ">
                    <div class="row with-borders align-center">
                        <div class="col with-borders align-center">
                            <h5 class="card-title">Order Details</h5>
                        </div>
                    </div>
                    {% for i in order_items %}
                    <div class="row with-borders align-center">
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-9 col-xl-9">{{i.product_name}} (X)
                            {{i.product_quantity}}</div>
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-3 col-xl-3">£{{i.price}}</div>
                    </div>
                    {% endfor %}

                    <div class="row with-borders align-center">
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-9 col-xl-9">Total Price: </div>
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-3 col-xl-3">£{{total_price}}</div>
                    </div>
                    <div class="row with-borders align-center">
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-6 col-xl-6">Contact Number</div>
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <input type="text" name="contact_number" id="contact_number" placeholder="000000000000"
                                required>
                        </div>
                    </div>
                    <div class="row with-borders align-center">
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-6 col-xl-6">Allergy Information</div>
                        <div class="col with-borders col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <textarea class="text-area" name="more_info" id="more_info"></textarea>
                        </div>
                    </div>
                    <form method="POST" action="{% url 'process_checkout' %}">
                        {% csrf_token %}
                        <button type="submit" id="checkout" class="btn">Checkout</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}