/* Index Page */

#index-banner {
    height: 200px;
    color: white;
    background-color: black;
}

/*#index-body {
    height: 500px;
    padding: 50px;
}*/

.product-row {
    padding: 50px;
}

.product-col {
    padding: 20px;
}

#placeholder-image {
    height: 180px;
    width: 286px;
}

/*
#banner-left-div { 
    height: 200px;       
    border-style: solid;
    border-color: red;
    border-radius: 0% 0% 80% 0%;
    background-color: black;
}

#banner-right-div {
    height: 200px;    
    border-style: solid;
    border-color: red;
    border-radius: 0% 0% 80% 0%;
    background-color: black;
}

#index-banner-row {
    background-color: white;
}*/



.row-index-left {
    background-color: black;

}

.col-index-background-left {
    background-image: url("https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    border-radius: 0% 0% 80% 00%;
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-index-logo-left {
    text-align: justify;
}

.row-index-right {
    background-color: black;
    border-radius: 0% 0% 80% 0%;
}

.col-index-background-right {
    height: 300px;
    width: 90%;
    text-align: justify;
    padding: 100px 150px 150px 150px;
}

.index-header {
    color: white;
    letter-spacing: 2px;
}




/* Products  */
#products-container {
    height: 2000px;
}


/* Base template */
.title-icon {
    padding: 10px;
}

.title-icon-div {
    padding: 5px;
}

.title-link {
    color: black;
    font-weight: bold;
}













/* Generic classes */

.bold-text {
    font-weight: bold;
}

.with-borders {
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.card {
    width: 18rem;
    margin: auto;
}

/*
.align-center-flex {
    display: flex;
    align-items: center;
}

.align-right-flex {
    display: flex;
    align-items: right;
}
*/

.align-right {
    text-align: right;
}



h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 12px;
}

.lg-padding-not-left {
    padding: 25px 25px 25px 0px
}

.lg-padding-bottom {
    padding-bottom: 25px;
}

.xlg-padding-bottom {
    padding-bottom: 50px;
}

.xxlg-padding-bottom {
    padding-bottom: 75px;
}


.md-padding-top {
    padding-top: 10px;
}

.md-padding-bottom {
    padding-bottom: 10px;
}

/* End of generic classes */


/*<!-----------------------FOOTER------------------------------------>*/
.footer-head {
    font-weight: bold;
    padding: 5px;
    letter-spacing: 2px;
    color: var(--brown-darken-1);
}

.footer-container {
    background-color: #efebe9;
    text-align: center;
    margin: auto;
    color: var(--brown-darken-1);
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-links li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: var(--brown-darken-1);
}

.footer-links i {
    font-size: 180%;
    color: var(--brown-darken-1);
}

.header-links {
    color: var(--brown-darken-1);
}