<div class="footer-container align-center">
    <div class="row align-center">
        <div class="align-center footer-head">Contact us on:</div>
    </div>
    <div class="col align-center">
        <ul class="footer-links align-center">
            <!--EXTERNAL LINKS-->
            <li class="align-center">
                <a href="https://facebook.com" aria-label="Contact Us On Facebook" target="_blank">
                    <i class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li class="align-center">
                <a href="https://github.com/Dan-Matthews-23" aria-label="Check out our Git Hub" target="_blank">
                    <i class="fa-brands fa-github"></i></a>
            </li>
            <li class="align-center">
                <a href="https://www.linkedin.com/" aria-label="Contact us on Linked In" target="_blank">
                    <i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li class="align-center">
                <a href="https://www.twitter.com/" aria-label="Contact Us On Twitter" target="_blank">
                    <i class="fa-brands fa-square-twitter"></i></a>
            </li>
        </ul>
    </div>
</div>