.stripe-element {
    height: 40px;
}
.stripe-style-input {
    
    height: 20px;    
    border: none;
    border-radius: 0px;
    background-color: white;
    
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 white;
}


/*
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
*/


.stripe-style-input::placeholder {
    color: white;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}


#payment-form ,
#card-element {
    color: #000;
    
}

#card-element {
    background-color: white;
    border-style: solid;
    border-color: black;
    height: 40px;
    padding: 10px;
      
    
}

#stripe-container {
    
    width: 100%;
    
}

.form-control {
    color: black;
    border: none;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.black-background {
    background-color: black;
}

#parent-container {
    width: 100%;
}

#order-summary-container {
    width: 40%;
}

#delivery-information-container {
    width: 40%;
}


.warning {
    font-size: 14px;
    color: red;
    text-align: center;
}

.header-div {
    padding: 10px;
}

.header {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.md-padding {
    padding: 15px;
}

#order-confirmation-container {
    width: 30%;
}


@media screen and (max-width: 800px) {
    #order-summary-container,
    #delivery-information-container {
        width: 100%;
    }
    .hide-on-small {
        display: none;
    }
}

