{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="index-banner">
    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-left g-0">
                    <div class=" col-index-background-left g-0" aria-hidden="true"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-right g-0">
                    <div class="col-index-background-right g-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0 align-center ">
                            <h1 class="index-header">Hungry?</h2>
                                <h2 class="index-header">We've got you covered</h3>
                                    <p class="index-header lg-padding-not-left">
                                        <button type="button" class="btn btn-light">Shop Now</button>
                                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid xxlg-padding-bottom align-center with-borders" id="products-container">
    <div class="row product-row align-center md-padding ">
        <div class="col align-center">
            <h1 class="make-sandwich-instructions">Here's our selection</h1>
        </div>
    </div>
    <div class="row product-row align-center with-borders ">

        {% for i in sandwich_items %}
        {% if i.category_id == 9 %}

        <div class="col  align-center product-col with-borders ">
            <div class="card with-borders">
                <img class="card-img-top product-image" src="{{i.product_image_url}}"
                    alt="{{i.product_placeholder_name}}">
                <div class="card-body with-borders ">
                    <h5 class="card-title">{{i.product_name}}</h5>
                    <p class="card-text md-padding-top md-padding-bottom with-borders ">
                        {{i.product_short_description}}
                    </p>

                    <p class="card-text-source md-padding-top md-padding-bottom with-borders protein ">
                        {% if i.protein_source %}Source of protein{% endif %}
                    </p>


                    <p class="card-text-source md-padding-top md-padding-bottom with-borders fibre ">
                        {% if i.fibre_source %}Source of fibre{% endif %}
                    </p>
                </div>
                <div class="col with-borders">
                    <p class="with-borders align-center">
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn">Open Modal</button>

                        <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Some text in the Modal..</p>
                        </div>

                    </div>
                    </p>
                </div>






                <!--REMEMER TO ADD csrf_token to form -->

            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>


{% endblock %}