{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block extra_js %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid card product-container" id="chef-message-top">
    <div class="row ">
        <div class="col align-center">
            <h3 class="nanum-pen-script-heading ">Chef's reccomendations</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col ">
            <h3 class="nanum-pen-script-regular">
                {% if chef_messages %}
                {{ chef_messages }}
                {% endif %}
            </h3>
        </div>
    </div>
</div>
<br>
<!--This is the section that holds the secondary navigation where users can navigate on the same page-->
<section class="chef-message-left">
    <div class="container-fluid card product-container" id="chef-message-left">
        <div class="row ">
            <div class="col align-center">
                <h3 class="nanum-pen-script-heading ">Chef's reccomendations</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col ">
                <h3 class="nanum-pen-script-regular">
                    {% if chef_messages %}
                    {{ chef_messages }}
                    {% endif %}
                </h3>
            </div>
        </div>
    </div>
</section>
<!--End of secondary navigation section-->
<!--This is the order sumary section that holds details of the current order-->
<section class="order-details">
    <div class="container-fluid align-center card product-container" id="order-details">
        <div class="row ">
            <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xm-12 col-xxl-12 ">
                {% if request.session.order_items %}
                <div class="row ">
                    <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xm-12 col-xxl-12 ">
                        <h5 class="card-title">Order Details</h5>
                    </div>
                </div>
                {%endif%}
                <div class="row">
                    <div class="col">
                        {% if request.session.order_items %}
                        {% for product_id, item in request.session.order_items.items %}
                        <form method="POST" action="{% url 'remove_item' %}">
                            {% csrf_token %}
                            <p class="product-item-paragraph">
                                <input type="hidden" name="remove-item-product-id" id="remove-item-product-id"
                                    value="{{ product_id }}" class="align-left">
                                <button type="submit" class="align-left" id="remove-item">
                                    <i class="fa-solid fa-trash fa-xl align-left"></i>
                                </button>
                            </p>
                            <p class="product-item-paragraph">
                                {{ item.product_name }}
                                (x{{ item.quantity }})
                                <br>
                                <strong>£{{ item.cost }}</strong>
                            </p>
                        </form>
                        {% endfor %}
                        <hr>
                        {% if request.session.order_total %}
                        <p class="product-item-paragraph-center ">
                            <strong>Total: £{{ request.session.order_total }}</strong>
                        </p>
                        {% endif %}
                        <hr>
                        {% else %}
                        <p class="product-item-paragraph-center ">
                            Your basket is empty
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div
                        class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xm-12 col-xxl-12 align-center-horizontal align-center-vertical">
                        {% if request.session.order_items %}
                        <form method="POST" action="{% url 'view_basket' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn orderBtn" id="checkout">Checkout items</button>
                        </form>
                        <form method="POST" action="{% url 'clear_order' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn delete_order" id="delete_order">Clear Order</button>
                        </form>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col  col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xm-2 col-xxl-2" id="remove-item-div">
            </div>
        </div>
    </div>
</section>
<!--End of order summary section-->
<!--This is the product selection section-->
<section class="product-listings">
    {% for i in sandwich_items %}
    {% if i.category_id == 9 %}
    <div class="container-fluid align-center card " id="product-container">
        <div class="row  card-row">
            <div class="col col-sm-2 col-md-2 col-lg-2 col-xl-2">
                {% if i.is_favourite %}
                <div class="favourite">
                    <form method="POST" action="{% url 'delete_from_favourites' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id-favourites" value="{{ i.product_id }}">
                        <button type="submit" class="favourite-btn" id="add_favourite">
                            <i class="fa-solid fa-heart fa-xl favourite"></i>
                        </button>
                        <span class="favouritetext">Remove from favourites</span>
                    </form>
                </div>
                {% else %}
                <div class="favourite">
                    <form method="POST" action="{% url 'add_to_favourites' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id-favourites" value="{{ i.product_id }}">
                        <button type="submit" class="favourite-btn" id="add_favourite">
                            <i class="fa-regular fa-heart fa-xl favourite"></i>
                        </button>
                        <span class="favouritetext">Add to favourites</span>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="row  card-row">
                <div class="col  align-center">
                    <h5 class="card-title">{{i.product_name}}</h5>
                </div>
            </div>
            <div class="row  card-row">
                <div class="col  align-center">{{i.product_short_description}}</div>
            </div>
            <div class="row  card-row">
                <div class="col  align-center bold protein">
                    {% if i.protein_source %}Source of protein{% endif %}
                </div>
            </div>
            <div class="row  card-row">
                <div class="col  align-center bold fibre">
                    {% if i.protein_source %}Source of fibre{% endif %}
                </div>
            </div>
            <div class="row  card-row">
                <div class="col  align-center bold">£{{i.product_price}}</div>
            </div>
            <div class="row  card-row">
                <div class="col" id="open-modal-btn-div">
                    <p class=" align-center">
                        <button class="btn open-modal" id="open-modal-value" value="{{i.product_id}}">
                            Select item</button>
                    </p>
                </div>
            </div>
            <button type="button" class="btn collapsible">See nutritional information</button>
            <div class="content">
                <div class="col nutritional-div">
                    <table>
                        <tr>
                            <th>Calories</th>
                            <td>{{i.calorie_content}}</td>
                        </tr>
                        <tr>
                            <th>Protein</th>
                            <td>{{i.protein_content}}g</td>
                        </tr>
                        <tr>
                            <th>Fibre</th>
                            <td>{{i.fibre_content}}g</td>
                        </tr>
                        <tr>
                            <th>Fat</th>
                            <td>{{i.fat_content}}g</td>
                        </tr>
                        <tr>
                            <th>Saturated Fat</th>
                            <td>{{i.saturated_fat_content}}g</td>
                        </tr>
                        <tr>
                            <th>Carbohydrates</th>
                            <td>{{i.carbohydrate_content}}g</td>
                        </tr>
                        <tr>
                            <th>Of which sugars</th>
                            <td>{{i.carbohydrate_sugar_content}}g</td>
                        </tr>
                        <tr>
                            <th>Salt</th>
                            <td>{{i.salt_content}}g</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--This is the pop-up modal led by customer interaction-->
            <form method="POST" action="{% url 'add_to_order' %}">
                {% csrf_token %}
                <!--<input type="hidden" name="product_id" id="product_id" value="{{i.product_id}}">-->
                <input type="hidden" name="quantity" id="quantity" value="{{i.quantity}}">
                <!--<input type="hidden" name="orderData" id="orderData" value="">-->
                <div id="modal-div" class="select-sandwich ">
                    <div class="select-sandwich-modal-content">
                        <div class="container-fluid  align-center">
                            <div class="row card-row align-center">
                                <div class="col  align-center">
                                    <span class="close">&times;</span>
                                    <div class="row card-row ">
                                    </div>
                                    <div class="row">
                                        <input type="hidden" id="product_test" name="product_test">
                                    </div>
                                    <div class="row card-row ">
                                        <div class="col modal-text-styling" id="product-price"></div>
                                    </div>
                                    <div class="row card-row align-center " id="quantity-row">
                                        <select name="quantity" id="quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <div class="row modal-row-padding  ">
                                        <div class="col  align-center-vertical align-center-horizontal">
                                            <button class="btn select-product-btn">Add to
                                                order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--End of popup modal -->
    </div>
    {% endif %}
    {% endfor %}
</section>
<!--End of product selection section-->
{% endblock %}
{% block postloadjs %}
<script src="{% static 'products/js/script.js' %}"></script>
<!--
   This will likely need to be changed to {% static 'products/js/script.js' %}  
   -->
{% endblock %}