{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="index-banner">
    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-left g-0">
                    <div class=" col-index-background-left g-0" aria-hidden="true"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-right g-0">
                    <div class="col-index-background-right g-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0 align-center ">
                            <h2 class="index-header">Hungry?</h2>
                            <h3 class="index-header">We've got you covered</h3>
                            <p class="index-header lg-padding-not-left">
                                <button type="button" class="btn btn-light">Shop Now</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid xxlg-padding-bottom align-center " id="products-container">
    <div class="row product-row align-center md-padding ">
        <div class="col align-center">
            <h1 class="make-sandwich-instructions">Here's our selection</h1>
        </div>
    </div>
    <div class="row product-row align-center  ">

        {% for i in sandwich_items %}
        {% if i.category_id == 9 %}

        <div class="col  align-center product-col  ">
            <div class="card ">
                <img class="card-img-top product-image" src="{{i.product_image_url}}"
                    alt="{{i.product_placeholder_name}}">
                <div class="card-body  ">
                    <h5 class="card-title">{{i.product_name}}</h5>
                    <p class="card-text md-padding-top md-padding-bottom  ">
                        {{i.product_short_description}}
                    </p>

                    <p class="card-text-source md-padding-top md-padding-bottom  protein ">
                        {% if i.protein_source %}Source of protein{% endif %}
                    </p>


                    <p class="card-text-source md-padding-top md-padding-bottom  fibre ">
                        {% if i.fibre_source %}Source of fibre{% endif %}
                    </p>
                </div>
                <div class="col" id="open-modal-btn-div">
                    <p class=" align-center">
                        <button class="btn" id="select-product-btn">Choose this sandwich</button>
                    </p>
                    <div id="select-product-modal" class="select-sandwich">
                        <div class="select-sandwich-modal-content">
                            <span class="close">&times;</span>
                            <div class="container " id="select-product-div">
                                <div class="card">
                                    <div class="row modal-row-padding  ">
                                        <div class="col modal-text-styling">{{i.product_name}}</div>
                                    </div>
                                    <div class="row  modal-row-padding ">
                                        <input type="hidden" id="product-price-hidden" value="{{i.product_price}}">
                                        <div class="col modal-text-styling" id="product-price"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" id="select-product-div">
                                <div class="card">
                                    <div class="row modal-row-padding">
                                        <div class="col align-center-vertical align-center-horizontal">
                                            <button type="button" class="btn fa-solid fa-square-minus fa-2xl"
                                                id="decrease-quantity"></button>
                                        </div>
                                        <div class="col  align-center-vertical align-center-horizontal" id="quantity">
                                        </div>
                                        <div class="col  align-center-vertical align-center-horizontal">
                                            <button type="button" class="btn fa-solid fa-square-plus fa-2xl"
                                                id="increase-quantity"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container ">
                                <div class="card">
                                    <div class="row modal-row-padding  ">
                                        <div class="col  align-center-vertical align-center-horizontal">
                                            <form method="POST" action="{% url 'home' %}">
                                                {% csrf_token %}
                                                <button class="btn" id="add-to-basket">Add to basket</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}