{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="index-banner">
    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-left g-0">
                    <div class=" col-index-background-left g-0" aria-hidden="true"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0">
                <div class="row row-index-right g-0">
                    <div class="col-index-background-right g-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 g-0 align-center ">
                            <h1 class="index-header">Hungry?</h2>
                                <h2 class="index-header">We've got you covered</h3>
                                    <p class="index-header lg-padding-not-left">
                                        <button type="button" class="btn btn-light">Shop Now</button>
                                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





















<div class="container-fluid xxlg-padding-bottom align-center with-borders" id="products-container">
    <div class="row product-row align-center md-padding ">
        <div class="col align-center">
            <h1 class="make-sandwitch-instructions">SANDWITCH CREATOR</h1>
        </div>
    </div>
    <div class="row product-row align-center ">


        {% for i in sandwitch_items %}
        {% if i.category_id == 1 %}
        <div class="col  align-center product-col">
            <div class="card ">
                <img class="card-img-top" src="{{i.product_image_url}}" alt="{{i.product_placeholder_name}}"
                    id="placeholder-image">
                <div class="card-body ">
                    <h5 class="card-title">{{i.product_name}}</h5>
                    <p class="card-text ">
                    </p>
                    <a href="#" class="btn btn-priindex">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="row product-row align-center md-padding ">
            <div class="col align-center">
                <h1 class="make-sandwitch-instructions">Next, the filling</h1>
            </div>
        </div>

        {% for i in sandwitch_items %}
        {% if i.category_id == 2 %}
        <div class="col  align-center product-col">
            <div class="card ">
                <img class="card-img-top" src="{{i.product_image_url}}" alt="{{i.product_placeholder_name}}"
                    id="placeholder-image">
                <div class="card-body ">
                    <h5 class="card-title">{{i.product_name}}</h5>
                    <p class="card-text ">
                    </p>
                    <a href="#" class="btn btn-priindex">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}




    </div>
</div>


{% endblock %}